<div class="sticky-bottom accordion" id="accordionPanelsStayOpenCommentReply">
  <div class="accordion-item">
    <h1 class="accordion-header">
      <button class="accordion-button py-1 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
      </button>
    </h1>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show overflow-y-scroll" style="max-height: 250px;">
      <div class="accordion-body" id="comment_reply_change_form">
        <%= render "comment_replies/comment_reply_button_part", comment: comment %>
      </div>
    </div>
  </div>
</div>
