<div class="d-flex flex-row justify-content-end">
  <%= link_to new_comment_comment_reply_path(comment), data: { turbo_stream: true }, class: "link-success link-underline link-underline-opacity-0" do %>
    <i class="fa-solid fa-circle-plus fa-3x"></i>
  <% end %>
</div>
