<div class="btn-group dropend">
  <button type="button" class="btn btn-secondary dropdown-toggle shadow-lg" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t("defaults.message.mention") %>
  </button>
  <div class="dropdown-menu overflow-y-scroll shadow-lg p-2" style="max-height: 200px;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= t("defaults.message.mention_explanation") %></li>

      <li class="list-group-item">
        test1
      </li>
      <li class="list-group-item">
        test2
      </li>
      <li class="list-group-item">
        test3
      </li>

    </ul>
  </div>
</div>
