<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h2>タイトル</h2>
      <p>説明文</p>
    </div>
    <div class="col-sm-5">
      <%= image_tag "sample2.png", size: "300x200" %>
    </div>
  </div>
</div>
