<footer>
  <div class="container-fluid text-center sticky-bottom bg-success p-2 text-black bg-opacity-75">
    <div class="row">
      <div class="col-sm-3"><%= link_to t("defaults.how_to_use"), root_path, class: "text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" %></div>
      <div class="col-sm-3"><%= link_to t("defaults.enquiry"), "#", class: "text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" %></div>
      <div class="col-sm-3"><%= link_to t("defaults.privacy"), "#", class: "text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" %></div>
      <div class="col-sm-3"><%= link_to t("defaults.terms_of_service"), "#", class: "text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" %></div>
    </div>
    <div class="row justify-content-md-center mt-2">
      <div class="col">
        <p>Copyright © 2024 - All rights reserved by タイトル</p>
      </div>
    </div>
  </div>
</footer>
