<ul class="dropdown-menu dropdown-menu-end overflow-y-scroll pb-3" style="width: 300px; max-height: 200px;">
  <li class="dropdown-item fs-5"><%= t("notifications.index.notification") %></li>
  <li><hr class="dropdown-divider"></li>
  <%= render "notifications/notifications" %>
  <li><hr class="dropdown-divider mt-3"></li>
</ul>
