<ul class="dropdown-menu dropdown-menu-end" style="width: 300px;">
  <li class="dropdown-item"><%= t("notifications.index.notification") %></li>
  <li><hr class="dropdown-divider"></li>
  <%= render "notifications/notifications" %>
</ul>
