<div class="col" id="<%= dom_id(card) %>">
  <div class="card h-100">
    <%= image_tag card.image, class: "card-img-top" %>
    <div class="card-body bg-body-tertiary">
      <h5 class="card-title lh-base mb-0">
        <%= link_to card.title, diagnosis_content_path(card), class: "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
      </h5>
    </div>
    <div class="card-footer">

      <i class="fa-solid fa-toggle-off"></i>
      <i class="fa-solid fa-toggle-on"></i>

    </div>
  </div>
</div>
