<div class="row">
  <% if bookmark_posts.present? %>
    <%= render partial: "posts/post", collection: bookmark_posts %>
  <% else %>
    <p><%= t("defaults.message.no_bookmarks") %></p>
  <% end %>
</div>
