<%= link_to bookmarks_path(post_id: post.id), data: { turbo_method: :post }, class: "link-primary link-underline link-underline-opacity-0", id: "button-bookmark-#{post.id}" do %>
  <span class="icon-shadow-common"><i class="fa-regular fa-bookmark fa-xl"></i></span>
<% end %>
