<%= link_to edit_post_path(post), class: "link-success link-underline link-underline-opacity-0 me-5", id: "button-edit-#{post.id}" do %>
  <span class="icon-shadow-common"><i class="fa-regular fa-pen-to-square fa-xl"></i></span>
<% end %>
<%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: t("defaults.message.delete_confirm") }, class: "link-success link-underline link-underline-opacity-0", id: "button-delete-#{post.id}" do %>
  <span class="icon-shadow-common"><i class="fa-regular fa-trash-can fa-xl"></i></span>
<% end %>
