<%= link_to favorites_path(post_id: post.id), data: { turbo_method: :post }, class: "link-danger link-underline link-underline-opacity-0", id: "button-favorite-#{post.id}" do %>
  <span class="icon-shadow-common">
    <i class="fa-regular fa-heart fa-xl"></i>
    <%= post.favorites_count %>
  </span>
<% end %>
