<% content_for(:title, t(".title")) %>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center mb-5"><%= t(".title") %></h1>
      <%= render "form", post: @post %>
      <div class="text-center mb-3">
        <%= link_to t(".to_posts_page"), posts_path, class: "text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" %>
      </div>
    </div>
  </div>
</div>
