// ページネーション
.pagination {
  .page-item {
    .page-link {
      background-color: #42932a;
      border-radius: 1rem;
      color: #fff;
      box-shadow: var(--bs-box-shadow-lg) !important;
    }
    a:hover { 
      color: #000;
      border-color: #000;
      border-width: 1px;
    }
  }
  .active > .page-link { 
    color: #000; 
    border-color: #000;
    border-width: 1px;
  }
}

// ツールチップ
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-gray);
  --bs-tooltip-color: var(--bs-white);
}

// フッターの高さ調整, フォンドの設定
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  flex: 1;
}

// headerの z-index 調整
.sticky-top {
  z-index: 1030;
}

// トグルボタンの影
span.progress-toggle-on {
  filter:drop-shadow(4px 4px 1px #bbb);
}

span.progress-toggle-off {
  filter:drop-shadow(4px 4px 1px #bbb);
}

//　アイコンの影（共通）
span.icon-shadow-common {
  filter:drop-shadow(4px 4px 1px #bbb);
}

// 進捗管理画面　「未対応」、「対応」タブ
a.progress-not-compatible-compatible-btn {
  --bs-btn-bg: var(--bs-white);
  --bs-btn-color: var(--bs-gray-600);
  --bs-btn-border-color: var(--bs-border-color);
}

a.progress-compatible-not-compatible-btn {
  --bs-btn-bg: var(--bs-white);
  --bs-btn-color: var(--bs-gray-600);
  --bs-btn-border-color: var(--bs-border-color);
}

// 進捗管理画面　進捗画像
.progress-bg-image {
  background-image: url('progress-bg-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

// コメント返信(current-user)
.comment-balloon-right {
  position: relative;
  display: block;
  margin: 0 0 0 3rem;
  padding: 1px;
  background: #dee2e6;
}

.comment-balloon-right:before {
  content: "";
  position: absolute;
  top: 20%;
  right: -45px;
  margin-top: -15px;
  border: 25px solid transparent;
  border-left: 20px solid #dee2e6;
}

//　コメント返信(others)
.comment-balloon-left {
  position: relative;
  display: block;
  margin: 0 3rem 0 0;
  padding: 1px;
  background: #dee2e6;
}

.comment-balloon-left:before {
  content: "";
  position: absolute;
  top: 20%;
  left: -45px;
  margin-top: -15px;
  border: 25px solid transparent;
  border-right: 20px solid #dee2e6;
}

// コメント返信画面　ボタンエリア
.accordion {
  .accordion-item {
    --bs-accordion-btn-bg: var(--bs-gray-200);
    --bs-accordion-active-bg: var(--bs-gray-200);
    --bs-accordion-bg: var(--bs-white);
  }
}

//　壁紙カラー
.bg-wall-color {
  background-color: #f8f1dd;
}

//　bg メインカラー
.bg-main-color {
  background-color: #6aaa54;
}

//　ボタン　メインカラー
.btn-success {
  --bs-btn-bg: #6aaa54;
  --bs-btn-border-color: #6aaa54;
  --bs-btn-hover-bg: #599446;
  --bs-btn-hover-border-color: #599446;
  --bs-btn-active-bg: #4c7f3b;
  --bs-btn-active-border-color: #4c7f3b;
  --bs-btn-disabled-bg: #8bc079;
  --bs-btn-disabled-border-color: #8bc079;
}

.btn-outline-success {
  --bs-btn-color: #6aaa54;
  --bs-btn-border-color: #6aaa54;
  --bs-btn-hover-bg: #6aaa54;
  --bs-btn-hover-border-color: #6aaa54;
  --bs-btn-active-bg: #6aaa54;
  --bs-btn-active-border-color: #6aaa54;
  --bs-btn-disabled-color: #8bc079;
  --bs-btn-disabled-border-color: #8bc079;
}

//　リンク　メインカラー
.link-success {
  color: RGBA(var(--bs-success-rgb), var(--bs-link-opacity, 1)) !important;
  --bs-success-rgb: 106, 170, 84;

  &:hover {
    color: rgba(76, 127, 59, 1) !important;
  }

  &:active {
    color: rgba(69, 119, 53, 1) !important;
  }

  &:focus {
    color: rgba(69, 119, 53, 1) !important;
  }
}

//　リンク　サブカラー（レッド）
.link-danger {
  color: RGBA(var(--bs-danger-rgb), var(--bs-link-opacity, 1)) !important;
  --bs-danger-rgb: 233, 94, 107;

  &:hover {
    color: rgba(230, 69, 85, 1) !important;
  }

  &:active {
    color: rgba(230, 69, 85, 1) !important;
  }

  &:focus {
    color: rgba(230, 69, 85, 1) !important;
  }
}

//　リンク　サブカラー（ブルー）
.link-primary {
  color: RGBA(var(--bs-primary-rgb), var(--bs-link-opacity, 1)) !important;
  --bs-primary-rgb: 82, 136, 216;

  &:hover {
    color: rgba(43, 119, 232, 1) !important;
  }

  &:active {
    color: rgba(43, 119, 232, 1) !important;
  }

  &:focus {
    color: rgba(43, 119, 232, 1) !important;
  }
}

//　文字　メインカラー
.text-main-color {
  color: #6aaa54;
}

//　通知一覧の font-size 設定
p.bold-notification {
  span {
    font-size: 1.3rem;
  }
}

li.bold-notification {
  span {
    font-size: 1.3rem;
  }
}

//　badge クラスの font-weight の調整
.badge {
  --bs-badge-font-weight: 400;
}
