// ページネーション
.pagination {
  .page-item {
    .page-link {
      background-color: #42932a;
      border-radius: 1rem;
      color: #fff;
    }
    a:hover { 
      color: #000;
      border-color: #000;
      border-width: 1px;
    }
  }
  .active > .page-link { 
    color: #000; 
    border-color: #000;
    border-width: 1px;
  }
}

// ツールチップ
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-gray);
  --bs-tooltip-color: var(--bs-white);
}

// フッターの高さ調整
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
