// ページネーション
.pagination {
  .page-item {
    .page-link {
      background-color: #42932a;
      border-radius: 1rem;
      color: #fff;
    }
    a:hover { 
      color: #000;
      border-color: #000;
      border-width: 1px;
    }
  }
  .active > .page-link { 
    color: #000; 
    border-color: #000;
    border-width: 1px;
  }
}

// ツールチップ
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-gray);
  --bs-tooltip-color: var(--bs-white);
}

// フッターの高さ調整
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

// headerの z-index 調整
.sticky-top {
  z-index: 1030;
}

// トグルボタンの影
span.progress-toggle-on {
  filter:drop-shadow(4px 4px 1px #bbb);
}

span.progress-toggle-off {
  filter:drop-shadow(4px 4px 1px #bbb);
}

//　アイコンの影（共通）
span.icon-shadow-common {
  filter:drop-shadow(4px 4px 1px #bbb);
}

// 進捗管理画面　「未対応」、「対応」タブ
a.progress-not-compatible-compatible-btn {
  --bs-btn-bg: var(--bs-white);
  --bs-btn-color: var(--bs-gray-600);
  --bs-btn-border-color: var(--bs-border-color);
}

a.progress-compatible-not-compatible-btn {
  --bs-btn-bg: var(--bs-white);
  --bs-btn-color: var(--bs-gray-600);
  --bs-btn-border-color: var(--bs-border-color);
}

// 進捗管理画面　進捗画像
.progress-bg-image {
  background-image: url('progress-bg-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

// コメント返信(current-user)
.comment-balloon-right {
  position: relative;
  display: block;
  margin: 0 0 0 3rem;
  padding: 1px;
  background: #dee2e6;
}

.comment-balloon-right:before {
  content: "";
  position: absolute;
  top: 20%;
  right: -45px;
  margin-top: -15px;
  border: 25px solid transparent;
  border-left: 20px solid #dee2e6;
}

//　コメント返信(others)
.comment-balloon-left {
  position: relative;
  display: block;
  margin: 0 3rem 0 0;
  padding: 1px;
  background: #dee2e6;
}

.comment-balloon-left:before {
  content: "";
  position: absolute;
  top: 20%;
  left: -45px;
  margin-top: -15px;
  border: 25px solid transparent;
  border-right: 20px solid #dee2e6;
}

// コメント返信画面　ボタンエリア
.accordion {
  .accordion-item {
    --bs-accordion-btn-bg: var(--bs-gray-200);
    --bs-accordion-active-bg: var(--bs-gray-200);
    --bs-accordion-bg: var(--bs-white);
  }
}
